/***********************************************************/
/*********************** Color Primary *********************/
/***********************************************************/

$color-orange: #f16718;
$color-orange-light: #ff9b62;
$color-blue-dark: #162542;
$color-blue-light: #7b8bad;
$color-grey-light: #e8eff2;
$color-white: #fff;
